# Основные зависимости
Django>=5.0,<6.0
gunicorn>=21.2.0

# База данных (например, PostgreSQL)
psycopg2-binary>=2.9.9

# Для работы с переменными окружения (если нужно)
python-dotenv>=1.0.1

# Для статики (если используешь whitenoise)
whitenoise>=6.6.0
